*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}


body{
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background-color: #deffea;
}

.dp{
    margin: 50px;
}